<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <div class="d-flex align-items-center justify-content-between m-1">
        <h4 class="tag-competitive-chatroom mb-0">Meet Ball chatroom</h4>
  <% if user_signed_in? %>
      <li class="nav-item dropdown d-flex justify-content-end align-items-center">
        <div>
          <a class="nav-link" href="#" data-bs-toggle="dropdown"><%= current_user.username %></a>
        </div>
        <div>
        <% if current_user.photo.attached?  %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-medium" %>
        <% else %>
          <img class="avatar-large" src="https://res.cloudinary.com/meetball/image/upload/v1661796523/User_Avatar_whdhtq.jpg" alt="">
        <% end %>
      </div>
      </li>
  <% end %>
</div>
<br>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
  <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
    <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
    </div>
  </div>
<% end %>
  </div>
  <%= simple_form_for [@chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
  <%= f.input :content,
    label: false,
    placeholder: "Message to ##{@chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3 ms-3" %>
<% end %>
</div>
