<h1>User Profile</h1>
<h2>Welcome User#<%= @user.id %></h2>

<p>Last name : <%= @user.last_name %></p>
<p>First name : <%= @user.first_name %></p>
<p>Username : <%= @user.username %></p>
<p>Email : <%= @user.email %></p>
<p>Rank : <%= @user.rank %></p>
<br>
<%= link_to "Edit profile", dashboard_edit_path %>
<br>
<%= link_to "Delete world", dashboard_path(@user), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the user?"}%>
