<h1>User Profile</h1>
<h2>Welcome User#<%= @user.id %></h2>

<p>Last name : <%= @user.last_name %></p>
<p>First name : <%= @user.first_name %></p>
<p>Username : <%= @user.username %></p>
<p>Email : <%= @user.email %></p>
<p>Rank : <%= @user.rank %></p>
