<div class="form" data-controller="flatpickr">
  <%= simple_form_for(@game, url: create_choose_playground_path) do |f| %>
      <%= f.input :playground,
        collection: Playground.all,
        placeholder: "Select a Playground",
        input_html: {
          data: {
            controller: "tom-select"
          }
        }
      %>
      <%= f.input :start_date, html5: true, as: :datetime,
        input_html: { id: 'start_date', min: Date.today } %>
      <%= f.input :team_size, as: :radio_buttons,
                  data: {
                controller: "game-form"
              },
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'form-team-size',
              item_wrapper_class: 'category-item',
              input_html: { class: 'category-selector team-size-select' },
              collection: Game.team_sizes
      %>
      <%= f.input :game_mode, as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'form-game-mode',
            item_wrapper_class: 'btn btn-blue btn-mode',
            input_html: { class: 'category-selector game-mode-select', data: { game_form_target: "game-mode" } },
            collection: Game.game_modes
      %>
      <%= f.button :submit, class: "btn btn-primary", id: "form-submit" %>
  <% end %>
</div>
