<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to playgrounds_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to playgrounds_nearby_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-location-dot"></i>
    <% end %>
    <div style="position: relative;right: 25px;bottom: 50px;">
      <div style="position: absolute">
        <%= link_to new_choose_playground_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-circle-plus create-game"></i>
        <% end %>
      </div>
    </div>
    <%= link_to my_games_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-basketball"></i>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "/dashboard", class: "navbar-brand" do %>
        <i class="fa-solid fa-user-astronaut"></i>
      <% end %>
    <% else %>
      <%= link_to user_session_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <% end %>
  </div>
</div>
