<div class="container">
  <h1 class="mt-3 mb-1">Results</h1>
  <div class="game-show"
    data-controller="game-show">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="m-0" style="font-size: 20px;">Game on <%= @game.start_date.strftime("%m/%d/%Y") %></h3>
      <% if @game.game_mode == 'competitive' %>
        <p class="tag-competitive d-inline">Competitive</p>
      <% elsif @game.game_mode == 'casual' %>
        <p class="tag-casual d-inline">Casual</p>
      <% end %>
    </div>
    <p>At <%= link_to @game.playground.name.downcase, playground_path(@game.playground.id) %></p>
    <div class="d-flex flex-column align-items-center mt-4 mb-4">
      <strong>Your rank after this game</strong>
      <p><%= @player.user.rank.capitalize if @player.user.rank %></p>
    </div>

    <div class="results d-flex justify-content-between pt-4 pb-4">
      <div class="red-team d-flex flex-column align-items-center">
        <h4 class="mb-4">Red team</h4>
        <h2 class="mb-4"><%= @result.red_score %></h2>
        <ul class="results-list d-flex flex-wrap">
          <% @players.where(team: 0).each do |player| %>
            <% if player.user.photo.attached? %>
              <li class="results-list-item"><%= cl_image_tag player.user.photo.key, class: "avatar avatar-results player" %></li>
            <% else %>
              <li class="results-list-item"><img src="https://cdn-icons-png.flaticon.com/512/5357/5357686.png" class="avatar avatar-results player"></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="blue-team d-flex flex-column align-items-center">
        <h4 class="mb-4">Blue team</h4>
        <h2 class="mb-4"><%= @result.blue_score %></h2>
        <ul class="results-list d-flex flex-wrap">
          <% @players.where(team: 1).each do |player| %>
            <% if player.user.photo.attached? %>
              <li class="results-list-item"><%= cl_image_tag player.user.photo.key, class: "avatar avatar-results player" %></li>
            <% else %>
              <li class="results-list-item"><img src="https://cdn-icons-png.flaticon.com/512/5357/5357861.png" class="avatar avatar-results player"></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="m-4">
      <% unless @player.confirmed_results %>
        <%= simple_form_for([@game, @player], url: update_player_path(@game), method: :patch) do |f| %>
          <%= f.hidden_field :confirmed_results, value: true %>
          <div class="d-flex justify-content-center">
            <%= f.submit 'Confirm results', class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    <% if @result.status == true %>
      <% if @result.red_score > @result.blue_score %>
        <h2 class="text-center mt-3">Team RED is the winner !</h2>
      <% elsif @result.red_score < @result.blue_score%>
        <h2 class="text-center mt-3">Team BLUE is the winner !</h2>
      <% else %>
          <h2 class="text-center mt-3">Tie Game !</h2>
      <% end %>
    <% else %>
      <h6 class="text-center mt-3">Result not confirmed yet !</h6>
    <% end %>
  </div>
</div>
