<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "All playgrounds", playgrounds_path, class: "btn btn-primary d-flex justify-content-center m-4" %>

<div class="container d-flex justify-content-space-between m-3">
  <%= link_to "Competitive", playgrounds_path, class: "btn btn-blue m-2" %>
  <%= link_to "Casual", playgrounds_path, class: "btn btn-blue m-2" %>
</div>

<p class="small tag-competitive">Competitive</p>
<p class="small tag-casual">Casual</p>

<%= link_to "Join", playgrounds_path, class: "btn btn-small" %>

<div id="app">
  <ul>
  <li><%= link_to "Upcoming Games", playgrounds_path %></li>
  <li><%= link_to "Previous Games", playgrounds_path %></li>
  <div class="focus-el el--1"></div>
  <div class="focus-el el--2"></div>
  </ul>
</div>
